@model IEnumerable<MusicStoreApplication.Models.Album>
@{
    ViewBag.Title = ViewBag.Genre;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Genre Albums</h2>


@foreach (var a in Model)
{
<section>
    <h3> @a.Title;</h3>
    <img src="@a.AlbumArtUrl"  />
    <h3>Price: $@a.Price</h3>
</section>
}